
/* #table_main::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: red;
  }
  
 #table_main::-webkit-scrollbar
  {
      width: 4px;
      background-color: #F5F5F5;
  }
  
 #table_main::-webkit-scrollbar-thumb
  {
      background-color: gray;
      border: 2px solid gray;
  }
   */

  
  .bookName_panel::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
  }
  
  .bookName_panel::-webkit-scrollbar
  {
      width: 4px;
      background-color: #F5F5F5;
  }
  
  .bookName_panel::-webkit-scrollbar-thumb
  {
      background-color: gray;
      border: 2px solid gray;
  }


  #word-details::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
  }
  
  #word-details::-webkit-scrollbar
  {
      width: 4px;
      background-color: #F5F5F5;
  }
  
  #word-details::-webkit-scrollbar-thumb
  {
      background-color: gray;
      border: 2px solid gray;
  }